.service-header {
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .service-title {
    color: #fff;
    font-size: 3rem; /* large, but you can adjust */
    font-weight: 300;  /* thin, not bold */
    font-family: "Georgia", "Garamond", "Palatino Linotype", "Book Antiqua", serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.5px;
    caret-color: transparent;
  }

  .service-img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
  }
  
  .service-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn-bookser {
    background: linear-gradient(to right, #8BC34A, #66BB6A); 
    color: white !important;
    padding: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 50%;
    caret-color: transparent;
    font-size: 20px;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .btn-bookser:hover {
      background: linear-gradient(to right, #7CB342, #4CAF50); 
      transform: translateY(-2px);
      color: white !important;
      outline: none;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width: 768px) {
    .overlay {
      background-color: transparent !important;
    }
  }
  

  .fade-in {
    animation: fadeIn 0.8s ease-in-out;
  }

  