.surgery-header {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.surgery-title {
  color: #fff;
  font-size: 2.1rem;
  font-weight: bold;
  font-family: 'Georgia', serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 1.2;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.8s ease-in-out forwards;
}

.btn-bookser {
  background-color: #6cb33f;
  color: white;
  border: none;
}

.btn-bookser:hover {
  background-color: #a2bf5a;
}

@media (max-width: 768px) {
  .surgery-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .surgery-title {
    font-size: 1.5rem;
  }
}